# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce fundamental concepts of machine learning.
- Explore common tools and environments for data analysis.
- Understand basic statistical concepts used in data science.
- Showcase practical examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
+ Numpy
+ Pandas
+ Scikitlearn
+ Matplotlib

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code with Python       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4) + 5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes is ", 200/60, "hours")

200 minutes is  3.3333333333333335 hours

## Author
[Mousa Aricat]